/* Stylings for mobile users */

@media only screen and (max-width: 400px) {
  .main {   
    width: 300px;
    padding-bottom: 20px;
    display: inline-block;
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
    overflow: auto;
    font-size: 14px;
    word-wrap: break-word;
    height: 450px;
  }
  #button1, #button2 {
    display: block;
    position: relative;
    font-size: 14px;
  }
  #button1 {
    padding-bottom: 10px;
  }
  .footer {
    position: fixed;
  }

}

