/* Stylings for mobile users */

@media only screen and (max-width: 400px) {
  .main {   
    width: 100%;
    padding-bottom: 20px;
    display: inline-block;
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
    font-size: 14px;
  }
  #button1, #button2 {
    display: block;
    position: relative;
  }
}

