/* Stylings for mobile users */

@media only screen and (max-width: 400px) {
  .main {   
    width: 300px;
    padding-bottom: 15px;
    display: inline-block;
    font-size: 14px;
    word-wrap: break-word;
    height: 475px;
    background: -webkit-linear-gradient(black, rgb(236, 225, 200));
    background: linear-gradient(black, rgb(236, 225, 200));
    background: -moz-linear-gradient(black, rgb(236, 225, 200));
    background: -o-linear-gradient(black, rgb(236, 225, 200));
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -moz-background-clip: text;
  }
  button:hover, a:hover {
    text-decoration: none;
  }
  #button1, #button2 {
    /* display: block; */
    position: relative;
    font-size: 14px;
  }
  #button1 {
    padding-bottom: 15px;
  }
  .footer {
    position: fixed;
  }

}

