/* Main stylesheet for game */

/* General formatting */
html {
  height: 100%;
  animation: welcome 5s; /* causes smooth page load */
  background-color: rgb(236, 225, 200);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}
body {
  height: 100%;
  margin: 0;
}
@keyframes welcome {
  /* Changes setting for smooth page load */
  0% {background-color: white;
      color: white}
  100% {background-color: rgb(236, 225, 200);
      color: black;}
}

/* Main */
.main {
  text-align: left;
  margin: 40px;
  margin-top: 20px;
  text-decoration: none;
  height: 80%;
  position: fixed;
  width: 500px;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-snap-align: start;
}

/* Scollable section */
.scroll {
  overflow-x: hidden;
  overflow-y: auto;
}

/* Initially hide all components */
/* p, button {
  display: none;
} */

/* Buttons */
button, a {
  text-decoration: none;
  background-color: inherit;
  color: inherit;
  text-align: left;
  border: none;
  font-size: inherit;
  outline: 0px !important;
  box-shadow: none !important;
}
button:hover, a:hover {
  text-decoration: underline;
}
button:active {
  text-decoration: none;
}

/* Footer */
.footer {
  margin: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 16px;
  position: fixed;
  bottom: 0;
  right: 0;
}
/* Links in footer */
a {
  color: black;
  animation: welcome 5s; /* smooth page load */
}